
<%# <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel"> %>


  <% @paintings.each do |painting| %>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src = "<%= painting.image %>" class="d-block w-100" >
        <div class="carousel-caption d-none d-md-block">
          <h5><%= painting.title %></h5>
          <p><%= painting.artist.artist_name %></p>
          <a href="/paintings/<%= painting.id %>">
            Show details
          </a>
        </div>
        
      </div>
    </div>
  <% end %>
</div>