<h3>My saved paintings<h3>
<table border="1">
  <tr>
    <th>
      Image
    </th>

  <% @current_user.fans_saved.each do |painting| %>
  <tr>
    <td>
      <img src="<%= painting.image %>">
    </td>
    
    <td>
      <a href="/paintings/<%= painting.id %>">
        Show details
      </a>
    </td>
  </tr>

  <% end %>
</table>
